In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

In [4]:
model = CmdStanModel(stan_file="model/model11-1.stan")
print(model)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model11-1

CmdStanModel: name=model11-1
	 stan_file=/workdir/chap11/model/model11-1.stan
	 exe_file=/workdir/chap11/model/model11-1
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit = model.sample(data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 4

In [6]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-69.706700,0.037168,0.888082,-71.586000,-69.361900,-69.082000,570.922,1699.17,1.00128
q,0.200755,0.002793,0.089371,0.051375,0.200339,0.346814,1023.710,3046.74,1.00004