In [1]:
import pandas as pd
import time
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-poisson-binomial.txt")
print(len(df))
df.head(5)

100

   Y
0  6
1  5
2  8
3  2
4  5

In [3]:
data = {
    "N": len(df),
    "M_max": 40,
    "Y": df["Y"].values
}

# Model 11-2

In [4]:
model11_2 = CmdStanModel(stan_file="model/model11-2.stan")
print(model11_2)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model11-2

CmdStanModel: name=model11-2
	 stan_file=/workdir/chap11/model/model11-2.stan
	 exe_file=/workdir/chap11/model/model11-2
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
t_start = time.time()
fit11_2 = model11_2.sample(data=data)
t_end = time.time()
print(t_end - t_start)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 3

7.591017007827759

In [6]:
fit11_2.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-211.98600,0.017804,0.706236,-213.38300,-211.71200,-211.4700,1573.56,103.5380,1.00180
lambda,9.60261,0.012084,0.446633,8.88889,9.59457,10.3646,1366.15,89.8898,1.00169

# Model 11-2b

In [7]:
model11_2b = CmdStanModel(stan_file="model/model11-2b.stan")
print(model11_2b)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model11-2b

CmdStanModel: name=model11-2b
	 stan_file=/workdir/chap11/model/model11-2b.stan
	 exe_file=/workdir/chap11/model/model11-2b
	 compiler_optons=stanc_options=None, cpp_options=None

In [8]:
t_start = time.time()
fit11_2b = model11_2b.sample(data=data)
t_end = time.time()
print(t_end - t_start)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 3

0.1423201560974121

In [9]:
fit11_2b.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,273.12000,0.018113,0.697993,271.71400,273.38300,273.6270,1484.94,11879.6,1.00082
lambda,9.61817,0.011791,0.442876,8.91575,9.60652,10.3526,1410.88,11287.0,1.00180