In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
model = CmdStanModel(stan_file="model/model-exec-11-2.stan")
print(model)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chap11/model/model-exec-11-2
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model-exec-11-2

CmdStanModel: name=model-exec-11-2
	 stan_file=/workdir/chap11/model/model-exec-11-2.stan
	 exe_file=/workdir/chap11/model/model-exec-11-2
	 compiler_optons=stanc_options=None, cpp_options=None

In [4]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

In [5]:
fit = model.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4

In [6]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-87.592200,0.030023,0.818055,-89.257500,-87.2645,-87.004900,742.427,1828.64,1.00518
q,0.031658,0.000852,0.030119,0.001612,0.0228,0.092105,1248.300,3074.63,1.00632