In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

# Case A

In [4]:
modelA = CmdStanModel(stan_file="model/model-exec-11-3-A.stan")
print(modelA)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chap11/model/model-exec-11-3-A
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model-exec-11-3-A

CmdStanModel: name=model-exec-11-3-A
	 stan_file=/workdir/chap11/model/model-exec-11-3-A.stan
	 exe_file=/workdir/chap11/model/model-exec-11-3-A
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fitA = modelA.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 4

In [6]:
fitA.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-82.626300,0.024008,0.773297,-84.150400,-82.329300,-82.058000,1037.45,2446.83,1.00087
q,0.034016,0.000899,0.033104,0.002117,0.023851,0.100501,1355.80,3197.64,1.00094

# Case B

In [7]:
modelB = CmdStanModel(stan_file="model/model-exec-11-3-B.stan")
print(modelB)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chap11/model/model-exec-11-3-B
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model-exec-11-3-B

CmdStanModel: name=model-exec-11-3-B
	 stan_file=/workdir/chap11/model/model-exec-11-3-B.stan
	 exe_file=/workdir/chap11/model/model-exec-11-3-B
	 compiler_optons=stanc_options=None, cpp_options=None

In [8]:
fitB = modelB.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 1

In [9]:
fitB.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-72.859400,0.038661,1.103410,-75.099300,-72.524700,-71.786100,814.561,895.122,1.00388
q,0.123871,0.002317,0.086443,0.011809,0.110146,0.285272,1391.360,1528.970,1.00366
p_coin,0.864186,0.002330,0.088538,0.700638,0.876911,0.983649,1444.190,1587.020,1.00288