In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

In [4]:
model = CmdStanModel(stan_file="model/model-exec-11-5.stan")
print(model)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap11/model/model-exec-11-5

CmdStanModel: name=model-exec-11-5
	 stan_file=/workdir/chap11/model/model-exec-11-5.stan
	 exe_file=/workdir/chap11/model/model-exec-11-5
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit = model.sample(data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1

In [6]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-69.669300,0.028837,0.805282,-71.29830,-69.358900,-69.082800,779.839,1648.71,1.00517
q,0.201567,0.002533,0.087542,0.06376,0.196631,0.347722,1194.640,2525.67,0.99968