In [1]:
import numpy as np
import pandas as pd
import time
from cmdstanpy import CmdStanModel

# Exercise (1)

In [2]:
df1 = pd.read_csv("../chap05/data/data-attendance-1.txt")
print(df1.count())
df1.head(5)

A        50
Score    50
Y        50
dtype: int64

   A  Score      Y
0  0     69  0.286
1  1    145  0.196
2  0    125  0.261
3  1     86  0.109
4  1    158  0.230

In [3]:
data1_1 = {
    "N": len(df1),
    "A": df1["A"].values,
    "Score": df1["Score"].values/200.0,
    "Y": df1["Y"].values
}

model1_1 = CmdStanModel(stan_file="../chap05/model/model5-3.stan")
print(model1_1)

time_start = time.time()
fit1_1 = model1_1.sample(data=data1_1)
time_finish = time.time()
print("Sampling time :", time_finish - time_start)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap05/model/model5-3
INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4

CmdStanModel: name=model5-3
	 stan_file=/workdir/chap05/model/model5-3.stan
	 exe_file=/workdir/chap05/model/model5-3
	 compiler_optons=stanc_options=None, cpp_options=None

INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 3

Sampling time : 0.5510275363922119

In [4]:
fit1_1.summary().loc[["b1", "b2", "b3"]]

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
b1,0.123581,0.000921,0.034190,0.066850,0.124002,0.179630,1377.29,1498.68,1.00063
b2,-0.143821,0.000284,0.014967,-0.169079,-0.143257,-0.119847,2771.35,3015.61,0.99969
b3,0.324402,0.001449,0.053748,0.235835,0.324669,0.411653,1376.25,1497.55,1.00075

In [5]:
X = np.zeros((len(df1), 3))
X[:, 0] = np.ones(len(df1))
X[:, 1] = df1["A"].values
X[:, 2] = df1["Score"].values / 200

data1_2 = {
    "N": len(df1),
    "D": 3,
    "X": X,
    "Y": df1["Y"].values
}

model1_2 = CmdStanModel(stan_file="model/model5-3-vectorized.stan")
print(model1_2)

time_start = time.time()
fit1_2 = model1_2.sample(data=data1_2)
time_finish = time.time()
print("Sampling time :", time_finish - time_start)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap09/model/model5-3-vectorized
INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4

CmdStanModel: name=model5-3-vectorized
	 stan_file=/workdir/chap09/model/model5-3-vectorized.stan
	 exe_file=/workdir/chap09/model/model5-3-vectorized
	 compiler_optons=stanc_options=None, cpp_options=None

INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 2

Sampling time : 0.4137148857116699

In [6]:
fit1_2.summary().loc[["b[1]", "b[2]", "b[3]"]]

      Mean     MCSE  StdDev    5%   50%   95%   N_Eff  N_Eff/s  R_hat
name
b[1]  0.12  0.00076   0.033  0.07  0.12  0.18  1828.0   2642.0    1.0
b[2] -0.14  0.00027   0.015 -0.17 -0.14 -0.12  2847.0   4115.0    1.0
b[3]  0.32  0.00120   0.051  0.24  0.33  0.41  1854.0   2680.0    1.0

# Exercise (2)

In [7]:
df2 = pd.read_csv("../chap05/data/data-attendance-2.txt")
print(df2.count())
df2.head(5)

PersonID    50
A           50
Score       50
M           50
Y           50
dtype: int64

   PersonID  A  Score   M   Y
0         1  0     69  43  38
1         2  1    145  56  40
2         3  0    125  32  24
3         4  1     86  45  33
4         5  1    158  33  23

In [8]:
data2_1 = {
    "N" : len(df2),
    "A" : df2["A"].values,
    "Score" : df2["Score"].values/200,
    "M" : df2["M"].values,
}

model2_1 = CmdStanModel(stan_file="../chap05/model/model5-6b.stan")
print(model2_1)

time_start = time.time()
fit2_1 = model2_1.sample(data=data2_1)
time_finish = time.time()
print("Sampling time :", time_finish - time_start)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap05/model/model5-6b
INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4

CmdStanModel: name=model5-6b
	 stan_file=/workdir/chap05/model/model5-6b.stan
	 exe_file=/workdir/chap05/model/model5-6b
	 compiler_optons=stanc_options=None, cpp_options=None

INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 3

Sampling time : 0.4310476779937744

In [9]:
fit2_1.summary().loc[["b[1]", "b[2]", "b[3]"]]

      Mean    MCSE  StdDev     5%   50%   95%   N_Eff  N_Eff/s  R_hat
name
b[1]  3.60  0.0027   0.094  3.400  3.60  3.70  1214.0   1593.0    1.0
b[2]  0.26  0.0011   0.042  0.190  0.26  0.33  1478.0   1940.0    1.0
b[3]  0.29  0.0043   0.150  0.042  0.29  0.53  1192.0   1565.0    1.0

In [10]:
X = np.zeros((len(df2), 3))
X[:, 0] = np.ones(len(df2))
X[:, 1] = df2["A"].values
X[:, 2] = df2["Score"].values / 200

data2_2 = {
    "N" : len(df2),
    "D": 3,
    "X": X,
    "M" : df2["M"].values,
}

model2_2 = CmdStanModel(stan_file="model/model5-6b-vectorized.stan")
print(model2_2)

time_start = time.time()
fit2_2 = model2_2.sample(data=data2_2)
time_finish = time.time()
print("Sampling time :", time_finish - time_start)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap09/model/model5-6b-vectorized
INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4

CmdStanModel: name=model5-6b-vectorized
	 stan_file=/workdir/chap09/model/model5-6b-vectorized.stan
	 exe_file=/workdir/chap09/model/model5-6b-vectorized
	 compiler_optons=stanc_options=None, cpp_options=None

INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 3

Sampling time : 0.4015071392059326

In [11]:
fit2_2.summary().loc[["b[1]", "b[2]", "b[3]"]]

      Mean     MCSE  StdDev     5%   50%   95%   N_Eff  N_Eff/s  R_hat
name
b[1]  3.60  0.00280   0.095  3.400  3.60  3.70  1158.0   1630.0    1.0
b[2]  0.26  0.00098   0.041  0.190  0.26  0.33  1768.0   2491.0    1.0
b[3]  0.29  0.00420   0.150  0.052  0.29  0.53  1223.0   1723.0    1.0

# Exercise (4)

In [12]:
df4 = pd.read_csv("../chap08/data/data-salary-3.txt")
print(len(df4))
df4.head(5)

300

    X    Y  KID  GID
0   7  457    1    1
1  10  482    1    1
2  16  518    1    1
3  25  535    1    1
4   5  427    1    1

In [13]:
K2G = [0] * df4.nunique()["KID"]
tmp = df4.groupby(by="KID").first()["GID"]
for KID, GID in zip(tmp.index, tmp.values):
    K2G[KID-1] = int(GID)  # if it is not cast to int, "x is not json serializable" error occurs

data4 = {
    "N": len(df4),
    "G": int(df4.nunique()["GID"]),
    "K": int(df4.nunique()["KID"]),
    "X": df4["X"].values,
    "Y": df4["Y"].values,
    "KID": df4["KID"].values,
    "K2G": K2G
}

In [14]:
model4_1 = CmdStanModel(stan_file="../chap08/model/model8-5.stan")
print(model4_1)

time_start = time.time()
fit4_1 = model4_1.sample(data=data4)
time_finish = time.time()
print("Sampling time :", time_finish - time_start)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap08/model/model8-5
INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4

CmdStanModel: name=model8-5
	 stan_file=/workdir/chap08/model/model8-5.stan
	 exe_file=/workdir/chap08/model/model8-5
	 compiler_optons=stanc_options=None, cpp_options=None

INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 2

Sampling time : 8.055891036987305

In [15]:
model4_2 = CmdStanModel(stan_file="model/model8-5-vectorized.stan")
print(model4_2)

time_start = time.time()
fit4_2 = model4_2.sample(data=data4)
time_finish = time.time()
print("Sampling time :", time_finish - time_start)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap09/model/model8-5-vectorized
INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4

CmdStanModel: name=model8-5-vectorized
	 stan_file=/workdir/chap09/model/model8-5-vectorized.stan
	 exe_file=/workdir/chap09/model/model8-5-vectorized
	 compiler_optons=stanc_options=None, cpp_options=None

INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 2

Sampling time : 4.446139097213745