In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("../chapter08/data/data-salary-2.txt")
print(len(df))
df.head(5)

40

    X    Y  KID
0   7  457    1
1  10  482    1
2  16  518    1
3  25  535    1
4   5  427    1

In [3]:
data = {
    "N": len(df),
    "K": 4,
    "X": df["X"].values,
    "Y": df["Y"].values,
    "KID": df["KID"].values
}

# Model 8-4b

In [4]:
model8_4b = CmdStanModel(stan_file="../chapter09/model/model8-4b.stan")
print(model8_4b)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chapter09/model/model8-4b

CmdStanModel: name=model8-4b
	 stan_file=/workdir/chapter09/model/model8-4b.stan
	 exe_file=/workdir/chapter09/model/model8-4b
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit8_4b = model8_4b.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 3

In [6]:
fit8_4b.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-173.0200,0.229038,3.56251,-179.49800,-172.6710,-167.6400,241.934,254.936,1.01707
a0,375.9770,3.819240,119.84200,245.31000,367.4590,554.6730,984.615,1037.530,1.00315
b0,11.5096,0.686355,13.66580,1.87748,12.3099,21.3194,396.437,417.742,1.00861
a[1],383.0000,0.500000,15.00000,359.00000,383.0000,408.0000,912.000,961.000,1.00000
a[2],336.0000,0.810000,19.00000,306.00000,335.0000,365.0000,523.000,551.000,1.00000
a[3],327.0000,0.840000,33.00000,271.00000,328.0000,378.0000,1551.000,1635.000,1.00000
a[4],479.0000,4.800000,134.00000,321.00000,445.0000,734.0000,796.000,838.000,1.00000
b[1],7.8000,0.041000,0.94000,6.20000,7.7000,9.3000,520.000,548.000,1.00000
b[2],19.0000,0.052000,1.40000,17.00000,19.0000,22.0000,703.000,740.000,1.00000
b[3],12.0000,0.040000,1.60000,9.20000,12.0000,15.0000,1620.000,1707.000,1.00000
b[4],9.9000,0.190000,5.40000,-0.39000,11.0000,16.0000,826.000,870.000,1.00000
s_a,162.0000,8.000000,222.50000,14.00000,94.7000,502.1000,778.400,820.200,1.00000
s_b,12.7000,1.400000,23.90000,3.50000,8.1000,30.5000,309.100,325.700,1.00000
s_Y,28.5000,0.100000,3.90000,22.80000,28.0000,35.4000,1755.500,1849.900,1.00000

# Model 8-4c

In [7]:
model8_4c = CmdStanModel(stan_file="model/model8-4c.stan")
print(model8_4c)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chapter10/model/model8-4c
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chapter10/model/model8-4c

CmdStanModel: name=model8-4c
	 stan_file=/workdir/chapter10/model/model8-4c.stan
	 exe_file=/workdir/chapter10/model/model8-4c
	 compiler_optons=stanc_options=None, cpp_options=None

In [10]:
fit8_4c = model8_4c.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 4

In [11]:
fit8_4c.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-146.802,0.266460,4.18794,-154.52000,-146.4350,-140.5300,247.022,83.0045,1.02095
a0,375.465,2.922150,76.11960,271.58600,366.5350,513.4380,678.560,228.0110,1.00571
b0,12.900,0.596753,6.76643,3.72225,12.5162,23.8636,128.567,43.2012,1.02856
a_raw[1],0.220,0.032000,0.70000,-0.87000,0.1800,1.5000,470.000,158.0000,1.00000
a_raw[2],-0.420,0.017000,0.62000,-1.50000,-0.3900,0.5700,1399.000,470.0000,1.00000
a_raw[3],-0.480,0.029000,0.70000,-1.60000,-0.4700,0.6300,576.000,193.0000,1.00000
a_raw[4],0.670,0.037000,0.88000,-0.84000,0.6900,2.1000,571.000,192.0000,1.00000
b_raw[1],-0.670,0.026000,0.64000,-1.70000,-0.6500,0.3300,608.000,204.0000,1.00000
b_raw[2],0.950,0.044000,0.77000,-0.31000,0.9400,2.3000,301.000,101.0000,1.00000
b_raw[3],-0.092,0.032000,0.61000,-1.10000,-0.0900,0.9000,348.000,117.0000,1.00000
b_raw[4],-0.210,0.025000,0.68000,-1.30000,-0.2000,0.9000,761.000,256.0000,1.00000
s_a,120.600,5.700000,115.20000,14.00000,84.2000,339.5000,403.400,135.6000,1.00000
s_b,9.900,0.300000,7.70000,3.50000,7.6000,23.0000,633.800,213.0000,1.00000
s_Y,28.800,0.100000,4.00000,23.20000,28.4000,36.0000,1027.400,345.2000,1.00000
a[1],383.000,0.410000,15.00000,356.00000,383.0000,407.0000,1390.000,467.0000,1.00000
a[2],336.000,0.610000,18.00000,306.00000,336.0000,369.0000,913.000,307.0000,1.00000
a[3],326.000,0.950000,33.00000,271.00000,327.0000,379.0000,1226.000,412.0000,1.00000
a[4],462.000,5.400000,120.00000,323.00000,433.0000,693.0000,499.000,168.0000,1.00000
b[1],7.800,0.023000,0.94000,6.30000,7.7000,9.4000,1678.000,564.0000,1.00000
b[2],19.000,0.041000,1.40000,17.00000,19.0000,22.0000,1097.000,369.0000,1.00000
b[3],12.000,0.044000,1.60000,9.20000,12.0000,15.0000,1392.000,468.0000,1.00000
b[4],11.000,0.210000,4.80000,1.40000,12.0000,16.0000,509.000,171.0000,1.00000

注 : こちらの方が収束しなかった例もあった。