In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("../chap08/data/data-salary-2.txt")
print(len(df))
df.head(5)

40

    X    Y  KID
0   7  457    1
1  10  482    1
2  16  518    1
3  25  535    1
4   5  427    1

In [3]:
data = {
    "N": len(df),
    "K": 4,
    "X": df["X"].values,
    "Y": df["Y"].values,
    "KID": df["KID"].values
}

# Model 8-4b

In [4]:
model8_4b = CmdStanModel(stan_file="../chap09/model/model8-4b.stan")
print(model8_4b)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap09/model/model8-4b

CmdStanModel: name=model8-4b
	 stan_file=/workdir/chap09/model/model8-4b.stan
	 exe_file=/workdir/chap09/model/model8-4b
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit8_4b = model8_4b.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 2

In [6]:
fit8_4b.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-173.3370,0.172571,3.61939,-180.030000,-172.8750,-168.2740,439.880,397.721,1.00862
a0,368.5050,7.176430,172.58100,229.976000,366.9210,559.7860,578.319,522.892,1.00493
b0,14.1002,1.296300,21.60660,-0.211628,12.4973,25.5172,277.817,251.191,1.01124
a[1],384.0000,0.350000,15.00000,360.000000,384.0000,408.0000,1724.000,1559.000,1.00000
a[2],334.0000,0.370000,17.00000,307.000000,334.0000,362.0000,2112.000,1909.000,1.00000
a[3],325.0000,0.790000,34.00000,268.000000,325.0000,380.0000,1815.000,1641.000,1.00000
a[4],480.0000,5.200000,137.00000,323.000000,445.0000,759.0000,684.000,618.000,1.00000
b[1],7.7000,0.022000,0.91000,6.200000,7.7000,9.2000,1686.000,1524.000,1.00000
b[2],19.0000,0.028000,1.30000,17.000000,19.0000,22.0000,2011.000,1818.000,1.00000
b[3],12.0000,0.039000,1.70000,9.100000,12.0000,15.0000,1824.000,1649.000,1.00000
b[4],9.8000,0.210000,5.50000,-1.300000,11.0000,16.0000,688.000,622.000,1.00000
s_a,165.5000,12.900000,281.80000,19.300000,94.7000,495.9000,479.300,433.400,1.00000
s_b,16.6000,2.800000,49.80000,3.600000,8.3000,40.1000,309.600,279.900,1.00000
s_Y,28.5000,0.100000,3.80000,22.800000,28.1000,35.5000,1940.700,1754.700,1.00000

# Model 8-4c

In [7]:
model8_4c = CmdStanModel(stan_file="model/model8-4c.stan")
print(model8_4c)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chap10/model/model8-4c

CmdStanModel: name=model8-4c
	 stan_file=/workdir/chap10/model/model8-4c.stan
	 exe_file=/workdir/chap10/model/model8-4c
	 compiler_optons=stanc_options=None, cpp_options=None

In [8]:
fit8_4c = model8_4c.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 3

In [9]:
fit8_4c.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-146.8190,0.189464,3.92342,-153.63600,-146.6440,-140.7080,428.820,136.480,1.02253
a0,370.6910,3.326070,75.82170,274.17600,365.7190,480.8890,519.667,165.394,1.00209
b0,12.4672,0.328547,6.45960,2.47546,12.5197,22.3657,386.560,123.030,1.00297
a_raw[1],0.2900,0.022000,0.68000,-0.71000,0.2300,1.5000,952.000,303.000,1.00000
a_raw[2],-0.4500,0.019000,0.64000,-1.50000,-0.4300,0.5800,1115.000,355.000,1.00000
a_raw[3],-0.5100,0.021000,0.67000,-1.60000,-0.4900,0.5800,1073.000,342.000,1.00000
a_raw[4],0.7100,0.023000,0.88000,-0.77000,0.7200,2.1000,1435.000,457.000,1.00000
b_raw[1],-0.6600,0.026000,0.64000,-1.80000,-0.6400,0.3700,607.000,193.000,1.00000
b_raw[2],0.9400,0.023000,0.70000,-0.18000,0.9200,2.1000,939.000,299.000,1.00000
b_raw[3],-0.0990,0.021000,0.57000,-1.00000,-0.0940,0.8400,750.000,239.000,1.00000
b_raw[4],-0.1900,0.025000,0.69000,-1.40000,-0.1400,0.8400,772.000,246.000,1.00000
s_a,113.8000,9.300000,114.90000,15.40000,77.9000,339.4000,152.700,48.600,1.00000
s_b,10.2000,0.400000,7.80000,3.50000,7.8000,25.7000,388.900,123.800,1.00000
s_Y,28.9000,0.100000,3.90000,23.20000,28.5000,35.8000,1549.800,493.200,1.00000
a[1],383.0000,0.300000,15.00000,357.00000,383.0000,407.0000,2525.000,804.000,1.00000
a[2],336.0000,0.330000,18.00000,307.00000,336.0000,365.0000,2997.000,954.000,1.00000
a[3],327.0000,0.680000,34.00000,271.00000,328.0000,379.0000,2414.000,768.000,1.00000
a[4],458.0000,5.100000,116.00000,321.00000,431.0000,685.0000,520.000,165.000,1.00000
b[1],7.8000,0.018000,0.93000,6.20000,7.7000,9.3000,2571.000,818.000,1.00000
b[2],19.0000,0.024000,1.30000,17.00000,19.0000,21.0000,3090.000,983.000,1.00000
b[3],12.0000,0.034000,1.70000,9.20000,12.0000,15.0000,2443.000,778.000,1.00000
b[4],11.0000,0.210000,4.70000,1.70000,12.0000,16.0000,489.000,156.000,1.00000

注 : こちらの方が収束しなかった例もあった。