In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

In [4]:
model = CmdStanModel(stan_file="model/model11-1.stan")
print(model)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chapter11/model/model11-1
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chapter11/model/model11-1

CmdStanModel: name=model11-1
	 stan_file=/workdir/chapter11/model/model11-1.stan
	 exe_file=/workdir/chapter11/model/model11-1
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit = model.sample(data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 4

In [6]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-69.688300,0.029046,0.871243,-71.440600,-69.346100,-69.082000,899.70,2999.00,1.00063
q,0.204637,0.002669,0.089506,0.059384,0.202738,0.354851,1124.41,3748.05,1.00039