In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
model = CmdStanModel(stan_file="model/exercise11-2.stan")
print(model)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chapter11/model/exercise11-2
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chapter11/model/exercise11-2

CmdStanModel: name=exercise11-2
	 stan_file=/workdir/chapter11/model/exercise11-2.stan
	 exe_file=/workdir/chapter11/model/exercise11-2
	 compiler_optons=stanc_options=None, cpp_options=None

In [4]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

In [5]:
fit = model.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 4

In [6]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-87.612100,0.032532,0.886741,-89.32360,-87.267600,-87.004800,742.989,2366.21,1.005360
q,0.032446,0.000768,0.030945,0.00151,0.023247,0.096737,1625.190,5175.75,0.999496