In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

# Case A

In [4]:
modelA = CmdStanModel(stan_file="model/exercise11-3-A.stan")
print(modelA)

INFO:cmdstanpy:found newer exe file, not recompiling
INFO:cmdstanpy:compiled model file: /workdir/chapter11/model/exercise11-3-A

CmdStanModel: name=exercise11-3-A
	 stan_file=/workdir/chapter11/model/exercise11-3-A.stan
	 exe_file=/workdir/chapter11/model/exercise11-3-A
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fitA = modelA.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 4

In [6]:
fitA.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-82.667000,0.029986,0.789466,-84.224800,-82.372700,-82.058800,693.167,1298.06,1.0028
q,0.034056,0.000974,0.033525,0.001957,0.023089,0.102832,1183.900,2217.04,1.0016

# Case B

In [7]:
modelB = CmdStanModel(stan_file="model/exercise11-3-B.stan")
print(modelB)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chapter11/model/exercise11-3-B
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chapter11/model/exercise11-3-B

CmdStanModel: name=exercise11-3-B
	 stan_file=/workdir/chapter11/model/exercise11-3-B.stan
	 exe_file=/workdir/chapter11/model/exercise11-3-B
	 compiler_optons=stanc_options=None, cpp_options=None

In [8]:
fitB = modelB.sample(data=data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 3

In [9]:
fitB.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-72.920000,0.035791,1.134980,-75.126400,-72.585300,-71.800100,1005.58,1029.26,1.00468
q,0.127752,0.002247,0.088915,0.011004,0.112924,0.294955,1566.42,1603.30,1.00152
p_coin,0.870574,0.002348,0.089903,0.701031,0.887218,0.986477,1466.66,1501.19,1.00246