In [1]:
import pandas as pd
from cmdstanpy import CmdStanModel

In [2]:
df = pd.read_csv("data/data-coin.txt")
print(len(df))
df.head(5)

100

   Y
0  1
1  0
2  1
3  0
4  0

In [3]:
data = {
    "N": len(df),
    "Y": df["Y"].values
}

In [4]:
model = CmdStanModel(stan_file="model/exercise11-5.stan")
print(model)

INFO:cmdstanpy:compiling stan program, exe file: /workdir/chapter11/model/exercise11-5
INFO:cmdstanpy:compiler options: stanc_options=None, cpp_options=None
INFO:cmdstanpy:compiled model file: /workdir/chapter11/model/exercise11-5

CmdStanModel: name=exercise11-5
	 stan_file=/workdir/chapter11/model/exercise11-5.stan
	 exe_file=/workdir/chapter11/model/exercise11-5
	 compiler_optons=stanc_options=None, cpp_options=None

In [5]:
fit = model.sample(data)

INFO:cmdstanpy:start chain 1
INFO:cmdstanpy:start chain 2
INFO:cmdstanpy:start chain 3
INFO:cmdstanpy:start chain 4
INFO:cmdstanpy:finish chain 2
INFO:cmdstanpy:finish chain 1
INFO:cmdstanpy:finish chain 3
INFO:cmdstanpy:finish chain 4

In [6]:
fit.summary()

,Mean,MCSE,StdDev,5%,50%,95%,N_Eff,N_Eff/s,R_hat
name,,,,,,,,,
lp__,-69.734600,0.042253,0.937129,-71.567500,-69.366800,-69.082000,491.905,1409.47,1.01297
q,0.204753,0.002896,0.092484,0.053084,0.202914,0.362204,1020.160,2923.11,1.00475